---
import PressCoverageFeed from '@sections/PressCoverageFeed.astro';
import pressCoverage from '../../../data/press-coverage.json';
---

<section
  id="press-list"
  class="container-95 section-stack"
  style="margin-top: 5rem;"
  aria-label="Press coverage section"
>
  <h2 class="text-gold text-center m-0">Press List</h2>
  <PressCoverageFeed items={pressCoverage} />
</section>
