---
import type { SocialLink } from "../../../../config/navigation";
import SocialIcon from "../../../ui/icons/brands/SocialIcon.astro";

interface Props {
  socials: SocialLink[];
}

const { socials } = Astro.props;
---

<div class="desktop-sidebar__social-wrap">
  <div class="desktop-sidebar__social-grid">
    {
      socials.map((social) => (
        <a
          href={social.href}
          class="desktop-sidebar__social-link"
          target="_blank"
          rel="noreferrer"
          aria-label={social.label}
        >
          <SocialIcon id={social.id} class="desktop-sidebar__social-icon" />
        </a>
      ))
    }
  </div>
</div>
