---
import BaseLayout from "@layouts/BaseLayout.astro";
import content from "./_content.json";

const { seo } = content;
---

<BaseLayout seo={seo}>
  <main class="page-placeholder"></main>
</BaseLayout>
