---
import BaseLayout from '@layouts/BaseLayout.astro';
import PressCoveragePanel from './_components/PressCoveragePanel.astro';
import content from './_content.json';

const { seo } = content;
const sidebarToc = [
  {
    label: 'Press List',
    targetId: 'press-list',
  },
];
---

<BaseLayout seo={seo} sidebarToc={sidebarToc}>
  <main class="page-placeholder">
    <PressCoveragePanel />
  </main>
</BaseLayout>
