---
import type { SidebarTocItem, SocialLink } from '../../../config/navigation';
import type { SiteRoute } from '../../../config/site';
import SidebarSocialPanel from './SidebarSocialPanel.astro';
import SidebarTabsPanel from './SidebarTabsPanel.astro';

interface Props {
  currentPath: string;
  routes: SiteRoute[];
  socials: SocialLink[];
  sidebarToc: SidebarTocItem[];
}

const { currentPath, routes, socials, sidebarToc } = Astro.props;
---

<aside class="desktop-sidebar d-none d-lg-flex" aria-label="Desktop navigation">
  <div class="desktop-sidebar__inner">
    <div class="desktop-sidebar__logo-wrap">
      <a href="/" class="desktop-sidebar__logo-link" aria-label="Home">
        <img src="/images/brand/wordmark.png" alt="William Entriken wordmark" class="desktop-sidebar__logo" width="200" />
      </a>
    </div>

    <SidebarTabsPanel currentPath={currentPath} routes={routes} sidebarToc={sidebarToc} />
    <SidebarSocialPanel socials={socials} />
  </div>
</aside>
